img, picture, video, svg {
  display: block;
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
}

/* --- STYLE IMAGE AVEC CADRE ROSE --- */
.media-cadre-rose {
  position: relative;
  margin: 3rem 0; /* Espace autour */
  display: block;
}

/* L'image elle-même */
.media-cadre-rose__img {
  position: relative;
  z-index: 2; /* Devant le cadre */
  display: block;
  width: 100%;
  height: auto;
}

/* Le cadre décoratif (pseudo-élément) */
.media-cadre-rose::after {
  content: "";
  position: absolute;
  
  /* Décalage du cadre par rapport à l'image */
  top: 15px; 
  left: 15px; 
  
  /* Taille identique à l'image */
  width: 100%; 
  height: 100%;
  
  /* Le Style du cadre */
  border: 4px solid var(--bg-rose); /* Rose */
  z-index: 1; /* Derrière l'image */
}