body {
  font-family: var(--font-principale);
  font-size: var(--size-body);
}

h1, h2, h3 {
  font-family: var(--font-titre);
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: var(--size-h1);
  color: var(--color-violet-fonce);
  text-transform: uppercase;
}

h2 {
  font-size: var(--size-h2);
  color: var(--color-noir);
}

p {
  margin-bottom: 1rem;
}

.citation {
  font-family: var(--font-titre);
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: var(--color-gris-fonce);
  margin: 2rem 0;
  padding: 0 1rem;
  border-left: none;
}