.en-tete {
  background-color: var(--bg-header);
  height: var(--header-height);
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 100;
}

.en-tete__logo {
  height: 30px;
  width: auto;
}