/* --- HEADER STRUCTURAL --- */
.en-tete {
  background-color: var(--header-bg);
  height: 60px; /* Hauteur réduite */
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 100;
}

/* Logo */
.en-tete__logo {
  height: 30px;
  width: auto;
}

/* Sélecteur de Langue */
.selecteur-langue {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
}