
.badge {
  background-color: transparent; 
  border: none;                  
  box-shadow: none;              
  color: var(--text-main);       
  font-family: var(--font-serif);
  font-size: 1.5rem;          
  text-transform: none;       
  font-weight: bold;
  letter-spacing: normal;     
  padding: 0;                    
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}