.bouton-envoyer {
  background-color: var(--color-4);
  color: var(--color-5);
  padding: 10px 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-family: var(--font-principale);
  transition: background 0.3s;
}

.bouton-envoyer:hover {
  background-color: var(--color-6);
}

.bouton-haut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--color-6);
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.bouton-haut:hover {
  opacity: 1;
  background-color: var(--color-4);
}

.bouton-haut__icone {
  width: 20px;
  filter: invert(1);
}