.bouton-envoyer {
  background-color: var(--color-4); /* Violet Foncé */
  color: var(--color-5);
  padding: 12px 30px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
}

.bouton-envoyer:hover {
  background-color: var(--color-2); /* Violet Nuit */
}

.bouton-haut {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: var(--color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.bouton-haut__icone {
  width: 20px;
  filter: invert(1);
}