.section-articles {
  padding: 2rem;
}

.badge {
  background-color: var(--color-4);
  color: var(--color-5);
  padding: 0.5rem 1rem;
  display: inline-block;
  font-family: var(--font-titre);
  margin-bottom: 2rem;
}

.carte {
  background-color: var(--color-5);
  border: 1px solid var(--color-8);
  transition: transform 0.3s ease;
  height: 100%; /* Uniformise la hauteur */
  display: flex;
  flex-direction: column;
}

.carte:hover {
  transform: translateY(-5px);
  border-color: var(--color-4);
}

.carte__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carte__contenu {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carte__titre {
  color: var(--color-4);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.carte__lien {
  text-decoration: none;
  color: inherit;
  display: block;
}

.carte__description {
  font-size: 0.95rem;
  color: var(--color-7);
}