/* Mobile First : Carrousel */
.carrousel {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carrousel__grille {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 15px;
  width: 100%;
}

.carrousel__grille .carte {
  min-width: 85vw;
  scroll-snap-align: center;
}

.carrousel__bouton {
  display: none;
}

/* Desktop : Grille */
@media (min-width: 768px) {
  .carrousel { display: none; }
  .grille-articles { display: grid; }
}