/* Glossaire */
.definitions dt {
  font-family: var(--font-serif);
  font-size: 1.3rem;
  color: var(--color-4);
  margin-top: 2rem;
  border-bottom: 2px solid var(--color);
  display: inline-block;
}

.definitions dd {
  margin-left: 0;
  margin-top: 0.5rem;
  padding-left: 1rem;
  border-left: 2px solid var(--color-9);
}

/* Projets */
.liste-projets__item {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-9);
  padding-bottom: 0.5rem;
}

.liste-projets__lien {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-2);
}

.liste-projets__lien:hover {
  color: var(--color-4);
  padding-left: 10px;
  transition: 0.2s;
}