@import "vendors/normalize.css";


@import 'base/variables.css';
@import 'base/reset.css';
@import 'base/typography.css';



@import 'layout/header.css';
@import 'layout/footer.css';
@import 'layout/main.css';


@import 'components/buttons.css';
@import 'components/cards.css';
@import 'components/hero.css';
@import 'components/lang.css';
@import 'components/media.css';    
@import 'components/forms.css';     
@import 'components/carousel.css';
@import 'components/lists.css';   


@import 'utils/error-page.css';